html,
body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: "Grandstander", sans-serif;
    font-size: 3.3vh;
    line-height: 1.3em;
}

#puzzle-main {
    width: 80vmin;
    height: 100vh;

    margin: 0 auto;

    /* top right bottom left */
    padding: 5vh 10vw 5vh 10vw;
}

.puzzle-title {
    display: inline-block;
    border-bottom: 0.2em #e6ddc4 solid;
    line-height: 1.1em;
}

.puzzle-text {
    font-size: 0.8em;
    line-height: 1.3em;
}

#answer {
    width: 60vmin;
    margin: 2em auto;
    font-size: 1.1em;
}

#text {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1em;
    text-align: center;
}

#button, .geo-button {
    text-align: center;
    padding: 1em;
    border: 3px solid;
    border-radius: 1em;
    cursor: pointer;

    width: 60%;
    margin: 0 auto;
    background-color: #e6ddc4;
}

#button:hover, .geo-button:hover {
    text-shadow: 1px 1px 1px #FFFFFF;

    background-color: #fbfbfb;
}

.puzzle {
    overflow-x: hidden;
    display: none;
    transition: height 1s ease-in-out, opacity 1s ease-in-out;
    padding-bottom: 1em;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.puzzle::-webkit-scrollbar {
  display: none;
}

.puzzle-row {
    margin: 1vw auto;
    width: 100%;
}

.puzzle-box {
    display: inline-block;
    width: 18vw;
    height: 13vw;
    padding-top: 5vw;
    border: 1px solid #FFFFFF;
    border-radius: 0.2em;
    text-align: center;
    cursor: pointer;
    margin: 0;
    font-size: 3vw;
}
.puzzle-box-selected {
    border: 1px solid #000;
    background-color: rgba(0.9, 0.9, 0.9, 0.3);
}
.puzzle-box-solved.cat-1, #cat-1-name {
    background-color: #5ccc74;
}
.puzzle-box-solved.cat-2, #cat-2-name {
    background-color: #e6f25e;
}
.puzzle-box-solved.cat-3, #cat-3-name {
    background-color: #5e7cf2;
}
.puzzle-box-solved.cat-4, #cat-4-name {
    background-color: #c652f7;
}
.cat-name {
    visibility: hidden;
    padding: 0.3vw;
}

.puzzle-category {
    font-size: 0.6em;
    text-align: left;
}

.puzzle-clue {
    margin: 1em;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    overflow-wrap: break-word;
}

.puzzle-title {
    font-size: 2em;
    margin-bottom: 1em;
}

.puzzle-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.text-small {
    font-size: 0.6em;
}

.text-big {
    font-size: 2em;
    line-height: 2em;
    font-weight: bold;
    color: #a87842;
}


.text-blue {
    color: #31a0f5;
    font-weight: bold;
}

.text-green {
    color: #298a06;
    font-weight: bold;
}

.text-purple {
    color: #b56ed4;
    font-weight: bold;
}

.text-red {
    color: #f53131;
    font-weight: bold;
}

.text-bog {
    color: #cfb870;
    font-weight: bold;
}

.text-gray {
    color: #2b2b2b;
    font-weight: bold;
}