
:root {
  --defaultColor: #e6ddc4;
  --backgroundColor: #945c68;
  --backgroundDarkColor: #842b3e;
  --accentColor: #e6ddc4;
  --accentHoverColor: #be8d97;
  --woodColor: #6a472f; 
  --woodAccentColor: #4d3022;
  --woodHoverColor: #926c52;
  --woodAccentHoverColor: #fff1e6;
  --ropeColor: #d7be87;
  --ropeBorderColor: #8a7445;
  --linkColor: #d7be87;

/*
  --defaultColor: #FFFADC;
  --backgroundColor: #578c66;
  --backgroundDarkColor: #b8e6c5;
  --accentColor: #FFFADC;
  --accentHoverColor: #52755c;
  --woodColor: #774d30; 
  --woodAccentColor: #453528;
  --woodHoverColor: #dba681;
  --woodAccentHoverColor: #fff1e6;
  --ropeColor: #d7be87;
  --ropeBorderColor: #b8a274;
  --linkColor: #ded6a4;
*/
}

html, body {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

html {
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
}

body {
  font-size: 3vmin;
  font-weight: 300;
  text-align: center;

  background-color: black;
  color: var(--defaultColor);
}

a {
  color: var(--linkColor);
}

img, #video {
  width: 100%;
  min-height: 100%;
  object-fit: fill;
}

/* fallback */
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v222/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  font-size: 1.2em;
  vertical-align: text-bottom;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  padding-right: 10px;
}

.fill {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.centered {
  position: absolute;
  flex: 0;
  white-space: normal;
  display: inline-block;
}

.friend, .groomsmen, .dev, .bridesmaid, .wedding-party {
  display: none;
}

.zh {
  display: none;
}

#password {
  position: absolute;

  width: 60%;
  left: 20%;
  margin: 0 auto;
  top: 40%;
  text-align: center;

  font-family: "Grandstander", sans-serif;
  font-size: 1.2em;
}

#password-input {
  text-align: center;
  margin-bottom: 0.5em;
}

#password-submit:hover {
  cursor: pointer;
}

#content {
  display: none;
}

#info, #menu {
  position: absolute;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  font-size: 1.4em;

  overflow: hidden;
}

#info {
  left: 50%;
  display: none;
}

#menu {
  left: 0%;
  text-align: left;

  font-family: "Grandstander", sans-serif;
}

#menu-container {
  margin: 0 auto;
  max-width: 60%;
}

.rope {
  position: absolute;
  height: 100%;

  background-color: var(--ropeColor);
  width: 0.5em;
  border: 0.1em solid var(--ropeBorderColor);
  box-shadow: 0 0 0.2em black;
}

#ropes {
  width: 100%;
  position: absolute;
  top: -0.5em;

  height: 0px;
  transition: height 1s linear;
}

#rope-1 {
  left: 20%;
}

#rope-2 {
  right: 50%;
}

#buttons {
  padding-top: 3em;
}

.button {
  background-color: var(--woodAccentColor);
  opacity: 1;
  text-overflow: ellipsis;
  white-space: nowrap;

  padding-top: 0.3em;
  padding-bottom: 0.2em;
  padding-left: 1.5em;
  padding-right: 4em;

  margin: 0.3em 0;

  visibility: hidden;
  position: relative;
  left: -300%;

  user-select: none;

  transition: left 0.7s cubic-bezier(.66,1.41,.89,.97);
}

.button span {
  position: relative;
}

.button::before {
  content: "";
  position: absolute;
  background-color: var(--woodColor);

  width: 97%;
  height: 100%;
  left: 3%;
  top: 0;

}

.button, .button::before {
  clip-path: polygon(5% 0%, 95% 0%, 100% 33%, 95% 100%, 5% 100%, 0% 66%);
}

.button-icon {
  color: var(--woodColor);
}

.button:hover {
  cursor: pointer;
  background-color: var(--woodAccentHoverColor);
  color: var(--woodAccentHoverColor);

  transition: color ease-in 0.1s, background-color ease-in 0.1s;
}

.button:hover::before {
  background-color: var(--woodHoverColor);
  transition: color ease-in 0.1s, background-color ease-in 0.1s;
}

#sign {
  width: 80%;
  height: 60%;
  margin: 0 auto;
  margin-top: 1.5em;
  padding-top: 1.5em;
  scrollbar-width: none;

  /*
  background-color: #a45a52;
  background-image: url("./img/wood.png");

  border-radius: 1em;
  box-shadow: 0 0 0.5em black;
  */
}

.section {
  position: relative;
  font-family: "Lato";
  line-height: 0.7em;

  margin: 0;
  margin-bottom: 1em;
  max-height: 100%;
  overflow-y: scroll;

  display: none;
  opacity: 0;

  transition: opacity ease-in 0.1s;

  border: 0.3em solid var(--accentColor);
  border-radius: 0.1em;
  background-color: var(--backgroundColor);
  padding: 1em 2em;

  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.section::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.section-title {
  font-family: "Grandstander", sans-serif;
  width: 100%;
  display: inline-block;

  line-height: 1.1em;
  font-size: 1.2em;

  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5em;
}

.section-p, .section-h {
  display: block;
  font-size: 0.6em;
  text-align: left;
  margin-bottom: 0.2em;
}

.section-h {
  font-size: 0.7em;
  font-family: "Grandstander", sans-serif;
  font-weight: bold;
}

.section-block {
  font-size: 0.9em;
  padding-bottom: 1em;
}

.section-img {
  width: 70%;
  margin: 1em auto;
  margin-bottom: 0;
}

.section-img img {
  border: 0.1em var(--defaultColor) solid;
  box-shadow: 0 0 0.1em var(--defaultColor);
}

.section-separator {
  width: 40%;
  border-bottom: 1px solid;
  margin: 0 auto;
  margin-bottom: 1em;
}

.section-box {
  font-family: "Grandstander", sans-serif;

  width: 60%;
  border: 1px var(--defaultColor) solid;
  background-color: var(--accentHoverColor);

  font-size: 0.6em;
  text-align: center;
  padding: 0.5em 0;
  margin: 1em auto;
}

.section-qa {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

.section-qa .section-p {
  font-size: 0.5em;
}

.section-caption {
  font-size: 0.4em;
  font-style: italic;
  text-align: center;
  margin-bottom: 1em;
}

.section-button {
  font-size: 0.7em;
}

.rsvp-button {
  font-size: 1.5em;
  margin: 0 auto;
}

.section-button, #music-button {
  font-family: "Grandstander", sans-serif;

  border: 0.1em solid;
  display: inline-block;
  padding: 0.3em 0.5em;
  margin: 0.3em 0.1em;
  border-radius: 0.2em;

  background-color: var(--accentColor);
  color: var(--backgroundColor);

  user-select: none;

  transition: color ease-in 0.1s, background-color ease-in 0.1s;
}

.section-button:hover, #music-button:hover {
  cursor: pointer;

  box-shadow: 0 0 0.1em var(--accentHoverColor);

  background-color: var(--accentHoverColor);
  color: var(--backgroundDarkColor);
}

.welcome-names {
  color: var(--accentColor);
  font-weight: bold;
}

#characters {
  padding: 0.5em 1em;
}

#character-info {
  display: none;
}

.character {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  margin-bottom: 0.25em;

  filter: grayscale(1);

  border: 0.1em solid var(--defaultColor);

  transition: filter 0.2s linear, box-shadow 0.2s linear;
}

.character:hover, .character-selected {
  filter: grayscale(0);
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 0 0.3em var(--accentHoverColor);
}

.character img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

#rec-block {
  display: none;
}

#close {
  font-family: "Lato";
  font-size: 0.5em;

  width: 1.5em;
  height: 1.5em;

  position: absolute;
  top: 5.5em;
  left: 9%;
  z-index: 99;

  user-select: none;

  box-shadow: 0 0 0.2em black;
  border-radius: 1em;
  border: 0.3em solid var(--accentColor);
  background-color: var(--backgroundColor);

  display: none;
}

#close:hover {
  background-color: var(--backgroundDarkColor);

  cursor: pointer;
}

#music-button {
  font-size: 0.9em;
  position: fixed;
  bottom: 1em;
  margin: 0 auto;
}

#arrow {
  font-family: "Grandstander", sans-serif;

  position: absolute;
  bottom: 1.5em;
  width: 100%;
  text-align: center;

  user-select: none;

  animation: pulse 3s infinite;
}

#background {
  background: url("trees.jpg") no-repeat center center fixed;
  background-size: auto 125%;
  overflow: hidden;

  transition: background-size ease-in 2.5s;
}

#blur {
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;

  transition: background-color ease-in 2.5s, backdrop-filter ease-in 2.5s;
}

#video-container {
  position: relative;
  overflow: hidden;
}

@keyframes pulse {
  0%, 100% { opacity: 0 }
  30%, 70% { opacity: 1 }
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 3.5vmin;
  }
  #menu, #info {
    left: 0;
    width: 100%;
  }
  #info {
    font-size: 1.8em;
  }
  #password {
    width: 90%;
    left: 5%;
    font-size: 2em;
  }
}

